.container{
    display: flex;
    justify-content: space-between;
    column-gap: var(--space-8);
    padding: var(--space-12);
    border-bottom: 1px solid var(--neutral-accordion-border);
}

.leftBox{
    display: flex;
    column-gap: var(--space-12);
}

.logoSpan{
    width: 48px;
    height: 48px;
    /* background: ; */
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logoSpan[data-id="flight"]{
    background-color: var(--bg-light-green);
}
.logoSpan[data-id="megaPhone"]{
    background-color: var(--bg-light-red);
}
.logoSpan[data-id="fileStorage"]{
    background-color: var(--bg-light-blue);
}

.logo{
    width: 16px;
    height: 16px;
}

.merchant{
    margin: 0;
    font-size: var(--text-sm);
    line-height: var(--line-height-sm);
}

.transTypeSection{
    display: flex;
    column-gap: var(--space-8);
    align-items: center;
    margin-top: var(--space-12);
}

.transTypeLogo{
    width: 24px;
    height: 20px;
    border-radius: 10%;
    background-color: var(--accent-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.transDate{
    margin: 4px 0 0 0;
    font-size: var(--text-xs);
    line-height: var(--line-height-sm);
}

.businessLogo{
    width: 10px;
    height: 8;
}

.transTypeDesc{
    color: var(--accent-dark);
    margin: 0;
    line-height: var(--line-height-sm);
    font-size: var(--text-xxs);
}

.transAmountSection{
    display: flex;
    column-gap: var(--space-8);
    font-size: var(--text-sm);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-bold);
    margin: 0;
}

.transAmountSection[data-type = "credit"]{
    color: var(--secondary);
}

.nextLogo{
    width: 8px;
    height: 12px;
    margin-top: 3px;
}