@import url("./color.css");
@import url("./icon.css");
@import url("./text.css");
@import url("./spacing.css");

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column-reverse nowrap;
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 600px) {
  #root {
    flex-flow: row nowrap;
  }
}


.slick-dots li button:before {
  font-size: var(--text-xxs) !important;
  color: var(--secondary) !important;
  opacity: 0.5 !important;
}

.slick-dots li.slick-active button:before {
  font-size: var(--text-body) !important;
  color: var(--secondary) !important;
  opacity: 1 !important;
}