.container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    row-gap: var(--space-80);
    height: fit-content;
    background-color: var(--neutral-white);
}

.header {
    display: none;
}

.description{
    line-height: var(--line-height-md);
    font-size: var(--text-md);
    font-family: var(--font-primary);
    color:#516775;
    margin: 0;
}

.navbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: var(--space-16);
    column-gap: var(--space-16);
}

.nav{
    all: unset;
    color: var(--text-sidebar-mobile);
    display: flex;
    flex-flow: column nowrap;
    column-gap: var(--space-16);
    align-items: center;
    cursor: pointer;
}

.activeNav{
    color:var(--secondary);
    font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 576px) {
    .container {
        width: 300px;
        padding: var(--space-48);
        min-height: 100%;
        background-color: var(--primary);
    }

    .header {
        display: flex;
        flex-direction: column;
        row-gap: var(--space-20);
    }

    .navbar {
        row-gap: var(--space-60);
        display: flex;
        flex-flow: column nowrap;
        column-gap: var(--space-16);
    }

    .nav{
        color: var(--neutral-white);
        column-gap: var(--space-16);
        flex-flow: row nowrap;
    }

    .activeNav{
        color:var(--secondary);
        font-weight: var(--font-weight-bold);
    }
}
