.container {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-80);
    width: 300px;
    min-height: 100%;
    height: fit-content;
    padding: var(--space-48);
    background-color: var(--primary);
}

.header{
    display: flex;
    flex-direction: column;
    row-gap: var(--space-20);
}

.description{
    line-height: var(--line-height-md);
    font-size: var(--text-md);
    font-family: var(--font-primary);
    color:#516775;
    margin: 0;
}

.navbar{
    display: flex;
    flex-direction: column;
    row-gap: var(--space-60);
}

.nav{
    all: unset;
    color: var(--neutral-white);
    display: flex;
    column-gap: var(--space-16);
    align-items: center;
    font-size: var(--text-body);
    line-height: var(--line-height-xl);
    font-family: var(--font-primary);
    cursor: pointer;
    align-items: center;
}

.activeNav{
    color:var(--secondary);
    font-weight: var(--font-weight-bold);
}