.tabsTrigger{
    font-size: var(--text-sm);
    line-height: var(--line-height-md);
    border: none;
    border-bottom: 2px solid transparent;
    background: transparent;
    cursor: pointer;
    color: var(--neutral-white);
}


.rightPanel{
    flex-grow: 1;
    /* padding-top: var(--space-32); */
    padding: var(--space-24);
    background-color: var(--neutral-white);
}

.tabsList {
    padding: var(--space-12);
    display: flex;
    column-gap: var(--space-32);
    margin-top: var(--space-32);
}

.tabsContent{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
}


.accordionRoot{
    display: flex;
    flex-direction: column;
    row-gap: var(--space-12);
}
.accordionItem{
    width: 100%;
    border: 1px solid var(--neutral-accordion-border);
    border-radius: 10px;
}

.accordionTrigger{
    margin: 0;
}

.tabsTrigger[data-state='active']{
    border-bottom: 2px solid var(--accent-light);
}

.eye{
    width: var(--text-body);
    height: var(--text-body);
}



.btn{
    display: flex;
    column-gap: var(--space-8);
    border: none;
    background: var(--neutral-white);
    color: var(--secondary);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-xxs);
    line-height: var(--line-height-md);
    align-items: center;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}


.triggerLogo{
    width: 24px;
    height: 24px;
}

.triggerHeading{
    display: flex;
    column-gap: var(--space-12);
    align-items: center;
}

.arrowLogo{
    width: 20px;
    height: 20px;
}

.btnDiv{
    display: flex;
    justify-content: end;
    margin-right: var(--space-12);
}

.carousel {
    width: 100%;
    padding: 0 var(--space-12);
    padding-bottom: var(--space-56);
}

.carousel .slick-prev:before,
.carousel .slick-next:before {
    color: black;
}
.showAllBtn{
    width: 100%;
    height: 40px;
    border: 1px solid var(--bg-light-green);
    border-radius: 0 0 10px 10px;
    background-color: var(--bg-accordion-bottom-btn);
    color: var(--secondary);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-xs);
    line-height: var(--line-height-sm);
    cursor: pointer;
    }


@media screen and (min-width: 576px) {
    .tabsContent{
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px lightgray;
        flex-flow: row nowrap;    
        padding: 60px 40px;
    }

    .tabsTrigger {
        color: var(--primary);
    }

    .tabsList {
        padding: 0;
    }

    .leftPanel{
        width: 50%;
    }
    .rightPanel{
        flex-grow: 1;
        width: 400px;
        padding: 10px;
        padding-top: var(--space-32);
        background-color: transparent
    }

    .btnDiv{
        margin-bottom: var(--text-xxs);
    }

    .btn{
        border-radius: 0;
    }
    
    .carousel {
        width: 400px;
        padding-bottom: var(--space-56);
    }
}

@media screen and (max-width:1279px) {
    .tabsContent{
        flex-flow: column nowrap;
    }

    .leftPanel{
        width: 100%;
    }

    .rightPanel{
        width: 100%;
        padding: var(--space-32) 0;
    }

    .carousel {
        width: 100%;
    }
}