.container{
    padding: var(--space-24);
    background-color: var(--secondary);
    border-radius: 10px;
    border-radius: 10px 0 10px 10px;
    display: flex;
    flex-direction: column;
    row-gap: var(--space-24);
}

@media screen and (min-width: 576px) {
    .container{
        border-radius: 10px;
    }
}

.container[data-state="frozen"] {
    opacity: 0.5;
}

.aspireLogo{
    display: flex;
    justify-content: flex-end;
}

.cardHolderName{
    font-size: var(--text-lg);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-md);
    color: white;
}

.cardDetails{
    display: flex;
    flex-direction: column;
    row-gap: var(--space-18);
}

.cardNumber{
    font-size: var(--text-body);
    font-weight: var(--font-weight-bold);
    color: white;
    letter-spacing: 6px;
    line-height: var(--line-height-md);
    display: flex;
    column-gap: var(--space-24);
    align-items: center;
}

.cardNumberPart{
    width: 20%;
    display: flex;
    column-gap: var(--space-4);
}

.dotSpan{
    width: 12px;
    height: 12px;
    background-color: var(--neutral-white);
    border-radius: 50%;
}

.cardDateCvvSection{
    display: flex;
    flex-direction: row;
    column-gap: var(--space-40);
    font-size: var(--text-sm);
    font-weight: var(--font-weight-bold);
    color: white;
    line-height: var(--line-height-lg);
    align-items: center;
}

.expiryDate {
    display: flex;
    column-gap: var(--space-4);
}

.cvv{
    display: flex;
    column-gap: 5px;
}

.cvvNumber{
    font-weight: var(--font-weight-bold);
    color: white;
}

.type{
    display: flex;
    justify-content: flex-end;
}

.visa{
    width: 70px;
    height: 24px;
}