.container {
    flex-grow: 1;
    overflow: auto;
    background-color: var(--primary);
}

@media screen and (min-width: 576px) {
    .container {
        height: 100%;
        padding: var(--space-60);
        background-color: var(--neutral-white);
    }
}