.container {
  padding: var(--space-12);
  color: var(--neutral-white);
}

@media screen and (min-width: 576px) {
  .container {
    padding: 0;
    color: var(--neutral-black);
  }
}

.availableBalanceText{
    font-size: var(--text-sm);
    line-height: var(--line-height-xs);
}

.balanceAndNewCardSection{
    display: flex;
    justify-content: space-between;
}

.availableBalance{
    display: flex;
    column-gap: var(--space-8);
    align-items: center;
}

h2{
    margin: 0;
}

.newCardBtn{
    all: unset;
    cursor: pointer;
    display: flex;
    border-radius: 4px;
    height: fit-content;
    column-gap: var(--space-8);
    padding: var(--space-8) var(--space-12);
    background-color: var(--accent-dark);
    align-items: center;
    color: var(--neutral-white);
    font-size: var(--text-xs);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-bold);
}

.addIcon{
    width: 16px;
    height: 16px;
}

.currency{
    width: 40px;
    height: 25px;
    align-items: center;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    color: var(--neutral-white);
    border-radius: 5px;
    font-size: var(--text-xs);
    line-height: var(--line-height-xs);
    font-weight: var(--font-weight-bold);
}

.dialogOverlay {
    background-color: var(--black-a9);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  .dialogContent {
    background-color: white;
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 450px;
    max-height: 85vh;
    padding: var(--space-24);
  }
  .dialogContent:focus {
    outline: none;
  }

  .dialogTitle {
    margin: 0;
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    font-family: var(--font-primary);
  }

  .cardInputSection{
    display: flex;
    flex-direction: column;
    row-gap: var(--space-8);
    border-top: 1px solid black;
    padding-top: var(--space-12);
    font-size: var(--text-body);
    font-weight: var(--font-weight-bold);
  }

  .inputArea{
    padding: var(--space-8);
    font-size: var(--text-body);
    border: 1px solid var(--bg-card-button-container);
    border-radius: 5px;
    
  }

  .inputArea:focus{
    outline: 1px solid var(--secondary);
  }

  .errorMsg{
    all: unset;
    margin-bottom: 10px;
    color: red;
    font-size: var(--text-xxs);
    margin-bottom: var(--space-12);
    min-height: var(--text-body);
  }

  .btnSection{
    display: flex;
    column-gap: var(--space-8);
    justify-content: flex-end;
  }

  .cancelBtn{
    background: transparent;
    border: 1px solid var(--primary);
    padding: var(--space-8) var(--space-12);
    border-radius: 10px;
    color: var(--primary);
    font-size: var(--text-body);
    font-family: var(--font-weight-bold);
    cursor: pointer;
  }

  .submitBtn{
    background:  var(--primary);
    border: 1px solid  var(--primary);
    padding: var(--space-8) var(--space-12);
    border-radius: 10px;
    color: var(--neutral-white);
    font-size: var(--text-body);
    font-family: var(--font-weight-bold);
    cursor: pointer;
  }