.accordion_trigger {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 366px;
    height: 72px;
    border-radius: 8px;
    padding: var(--space-24);
    background-color: var(--bg-accordion);
    border: 1px solid var(--neutral-accordion-border);
    box-shadow: 0px 0px 8px var(--neutral-accordion-box-shadow);
}

.accordion_trigger_content {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 12px;
}
